{% extends 'staff/base.html' %}

{% block navbar %}
{% with page=4 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
  <h1 class="text-center">Thư mục thể loại sách</h1>
  <div class="container pt-5">    
    {%if categories %}
      <form class ="mt-4 mb-3">
        <div class="row">
          <div class="col-6" style="">
            <input name="keyword" value="{{filters.keyword}}" class="form-control" placeholder="Nhập mã/tên để tìm"/> 
          </div>
          <div class="col-4" style="">
            <button class="btn btn-primary">Tìm kiếm</button>
          </div>
          <div class="col-2 ">
            <a href='{% url "category-create" %}' class="btn btn-primary ml-4">Thêm thể loại</a>
          </div>
        </div>
      </form> 
      <table class="table table-bordered">
        <tr>
          <th style="width:5%" class="text-center">STT</th>
          <th style="width:40%" class="text-center">Mã</th>
          <th style="width:45%" class="text-center">Tên</th>
          <th style="width:10%" class="text-center">Thao tác</th>
        </tr>
        {% for category in categories %}
        <tr>
          <td class="text-center">{{ forloop.counter0|add:categories.start_index }}</td>
          <td class="text-center">{{ category.code }}</td>
          <td class="text-center">{{ category.name }} </td>
          <td class="text-center">
            <a title="Chỉnh sửa"href='{% url "category-update" category.id %}'><i class="fas fa-edit"></i></a> &nbsp;
            <a title="Xóa" style="color:red" href='#' onclick="confirmDelete(this)" url='{% url "category-delete" category.id %}'>
              <i class="fas fa-trash"></i>
            </a>
          </td> 
        </tr>
        {% endfor %}
      </table>

      <nav aria-label="..." class="mb-5">
        {% if categories.has_other_pages %}
          <ul class="pagination">
            {% if categories.has_previous %}
              <li class="page-item"><a class="page-link" href="{{searchcategory}}&page={{ categories.previous_page_number }}"> « </a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link"> « </span></li>
            {% endif %}
      
            {% for i in categories.paginator.page_range %}
              {% if categories.number == i %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="{{searchcategory}}&page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
      
            {% if categories.has_next %}
              <li class="page-item"><a class="page-link" href="{{searchcategory}}page={{ categories.next_page_number }}"> » </a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link"> » </span></li>
            {% endif %}
          </ul>
        {% endif %}
      </nav> 

    {% else %}
      <p>Không có dữ liệu</p>
    {% endif %}    
  </div>

  <script>
    function confirmDelete(a) {
      var url = a.getAttribute('url');
      if(confirm('Bạn có chắc chắn muốn xóa không?')){
        location.href = url;
      }
    }
  </script>

{% endblock %}