{% extends 'staff/base.html' %}

{% comment %} {% block navbar %}
  {% with page=0 %}
    {{ block.super }}
  {% endwith %}
{% endblock %} {% endcomment %}

{% block content %}
  <h1 class="text-center">Thư mục sách</h1>
  <div class="container pt-5">
    <form method="POST" enctype="multipart/form-data" novalidate> 
      {% csrf_token %}
      <table class="table table-form">
        <tr>
          <th>Mã sách:</th>
          <td style="color:red"> {{form.code}} {{form.code.errors}}</td>
        </tr>
        <tr>
          <th>Tiêu đề:</th>
          <td style="color:red"> {{form.title}} {{form.title.errors}}</td>
        </tr>
        <tr>
          <th>Mô tả:</th>
          <td> {{form.description}} </td>
        </tr>
        <tr>
          <th>Thể loại:</th>
          <td > {{form.category}} </td>
        </tr>
        <tr>
          <th>Tác giả:</th>
          <td> {{form.author}} </td>
        </tr>
        <tr>
          <th>Nhà sản xuất:</th>
          <td> {{form.publisher}} </td>
        </tr>
        <tr>
          <th>Năm sản xuất:</th>
          <td style="color:red"> {{form.publishYear}} {{form.publishYear.errors}} </td>
        </tr>
        <tr>
          <th>Số trang:</th>
          <td style="color:red"> {{form.numberOfPage}} {{form.numberOfPage.errors}} </td>
        </tr>
        <tr>
          <th>Số bản copy:</th>
          <td> {{form.numberOfCopy}} </td>
        </tr>
        <tr>
          <th>Ảnh bìa:</th>
          <td> {{form.image}} </td>
        </tr>
      </table>
      <button class="btn btn-primary mb-5 float-right" type="submit">Lưu lại</button>
      <a class="btn btn-secondary mb-5 float-right mr-1" href='{% url "book-list" %}'>Quay lại</a>
      
    </form>
  </div>
{% endblock %}