{% extends 'staff/base.html' %}
{% comment %} {% block navbar %}
  {% with page=2 %}
    {{ block.super }}
  {% endwith %}
{% endblock %} {% endcomment %}

{% block content %}
  <h1 class="text-center">Thư mục tác giả</h1>
  <div class="container pt-5">
    <form method="POST" novalidate> 
      {% csrf_token %}
      <table class="table table-form">
        <tbody>
          <tr>
            <th>Tên tác giả:</th>
            <td style="color:red">{{form.name}} {{form.name.errors}}</td>
          </tr>
          <tr>
            <th>Quốc gia:</th>
            <td style="color:red">{{form.country}}</td>
          </tr>
        </tbody>
      </table>
      
      <button class="btn btn-primary mb-5 float-right" type="submit">Lưu lại</button>
      <a class="btn btn-secondary mb-5 float-right mr-1" href='{% url "author-list" %}'>Quay lại</a>
    </form>
  </div>
{% endblock %}