<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/slick.min.css">
    <link rel="stylesheet" href="/static/css/grt-youtube-popup.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/grt-youtube-popup.js"></script>
    <script src="https://kit.fontawesome.com/e2db74ebd5.js" crossorigin="anonymous"></script>
    <title>Library</title>
    
    <style>
      .lazy-loading-slider{
        padding-top: 80px;
        overflow: hidden;
        height: 80vh;
      }
      .lazy-loading-slider .slide-box{
        width:100%;
        height: 80vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0.25)
      }
      .lazy-loading-slider .slide-box img{
        width:100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
      }
      .lazy-loading-slider .slick-arrow{
        width:50px;
        height: 45px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        font-size: 0px;
        cursor: pointer;
        border: 0;
        z-index: 10; 
      }
      .lazy-loading-slider .slick-arrow.slick-next{
        background:url(/static/images/next1.png) center center no-repeat;
        right: 10px;
        background-size: contain;
      }
      .lazy-loading-slider .slick-arrow.slick-prev{
        background:url(/static/images/prev1.png) center center no-repeat;
        left: 10px;
        background-size: contain;
      }
    </style>
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
      <div class="-fluid d-flex justify-content-center py-3">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01" aria-controls="navbarExample01"
        aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item {% if not page %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Trang Chủ</a>
              </li>
              <li class="nav-item {% if page == 1 %} active {% endif %}">
                <a class="nav-link" href="{% url 'pending-list' %}">Sách chờ nhận</a>
              </li>
              <li class="nav-item {% if page == 2 %} active {% endif %}">
                <a class="nav-link" href="{% url 'borrowing-list' %}">Sách đang mượn</a>
              </li>
            </ul>
        </div>
      </div>
          <ul class="navbar-nav ml-auto mr-3 ">
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle p-0" data-toggle="dropdown" href="#">
                  <img class="rounded-circle" style="width:40px; height:35px" src="/static/images/user.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="/accounts/profile">
                    Thông tin tài khoản
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/accounts/logout">
                    Đăng xuất
                  </a>
                </div>
              </li>
          </ul>
    </nav>
  <!-- Background image -->
  <div class="lazy-loading-slider">
        <div class="slide-box" style = "background-image: url(/static/images/loader.gif);">
          <img data-lazy="/static/images/banner1.jpg">
        </div>
        <div class="slide-box" style = "background-image: url(/static/images/loader.gif);">
          <img data-lazy="/static/images/banner2.jpg">
        </div>
        <div class="slide-box" style = "background-image: url(/static/images/loader.gif);">
          <img data-lazy="/static/images/banner3.jpg">
        </div>
  </div>

  <!-- Background image -->
  <div class="mb-4">
    {%block content %}
    {% endblock %}
  </div>
<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Thư Viện NTA</h6>
        <p class="text-justify">Thư viện NTA ban đầu trực thuộc Phòng Đào tạo, với chức năng chính là quản lý và cho mượn sách, báo. Những năm đầu khi mới thành lập, cơ sở vật chất và vốn tài liệu còn hạn chế. Đến cuối nhiệm kỳ 1, Thư viện chỉ có khoảng hơn 1.500 đầu sách, chủ yếu là sách tiếng Việt, công tác quản lý còn thô sơ, thủ công.
          Từ cuối năm 2021, Thư viện chính thức trực thuộc Trung tâm Thông tin Tư liệu (với các chức năng chính là: quản lý Thư viện, lập trình và quản lý hệ thống mạng toàn trường). Cùng với sự phát triển không ngừng và được sự quan tâm, đầu tư thích đáng từ ông Nguyễn Thế Anh, Thư viện ngày càng hoàn thiện và lớn mạnh theo hướng chất lượng và hiện đại.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Danh Mục</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Liên hệ</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Thanh Toán</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Hỗ trợ</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Tuyển dụng</a></li>
          <li><a href="http://scanfcode.com/category/android/">Chính sách bảo mật</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Dịch Vụ</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Hỏi đáp thắc mắc</a></li>
          <li><a href="http://scanfcode.com/contact/">Tư vấn dịch vụ</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Tư vấn và hỗ trợ Emaill</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Câu hỏi thường gặp</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 Bản quyền thuộc về 
     <a href="#">Nguyễn Thế Anh</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
<script>
    $(document).ready(function(){
      $('.lazy-loading-slider').slick({
        lazyLoad: 'ondemand',
        slideToShow: 1,
        slideToScroll: 1
      });
    
    });
</script> 
</html>